    h1 {
        text-align: center;
        font-size: 48px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    
    h2 {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        bottom: 15px;
        margin-bottom: 0;
    }
    
    #circles {
        text-align: center;
        margin-top: 15px;
    }
    
    .step {
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: white;
        border: #002b9a 2px solid;
        border-radius: 50%;
        display: inline-block;
    }
    
    .step.active {
        background-color: #002b9a;
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }
    
    .form-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    
    form input {
        outline: unset;
        height: 50px;
        border: 3px solid #002b9a;
        border-radius: 7px;
        margin-top: 5px;
        padding-left: 40px;
        font-size: 20px;
    }
    
    .row {
        display: flex;
        gap: 5px;
        justify-content: space-between;
    }
    
    #nome input {
        margin-top: 5px;
        width: 230px;
        background: url(../../../assets/user-name.svg) no-repeat 4px 7px;
    }
    
    #sobrenome input {
        margin-top: 5px;
        width: 220px;
        background: url(../../../assets/surname.svg) no-repeat 4px 7px;
    }
    
    #cpf input {
        background: url(../../../assets/cpf.svg) no-repeat 4px 7px;
    }
    
    .widthmaior input {
        width: 496px;
    }
    
    #foto-perfil label {
        background: url(../../../assets/clips.svg) no-repeat 6px 12px;
        cursor: pointer;
        margin-top: 15px;
        border: #002b9a solid 3px;
        height: 45px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        padding-left: 35px;
    }
    
    #plus-file {
        position: relative;
        left: 425px;
        bottom: 155px;
        margin-left: 275px;
        border: white solid 1px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding-top: 2px;
        background-color: white;
        box-shadow: 1px 1px rgb(192, 192, 192);
    }
    
    button {
        background-color: #002b9a;
        height: 50px;
        width: 496px;
        border: none;
        border-radius: 7px;
        color: white;
        font-size: 25px;
        font-weight: normal;
        margin-top: 25px;
        cursor: pointer;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    p {
        display: block;
        text-align: center;
    }
    
    p a {
        text-decoration: none;
        color: #002b9a;
    }
    
    .login {
        margin-top: 20px;
    }
    
    .container-voltar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-buttons {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }