main{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 90%;
}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
}

section{
    width: 60%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.contribuicoes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.contribuicoes div{
    width: 100%;
    height: 80px;

    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    font-size: 110%;
}

.contribuicoes div a {
    text-decoration: none;
    font-weight: 600;
    color: #002B9A;
}

.text-area{
    border: none;
    display: flex;
    justify-content: center;
    border: #002B9A 2px solid;
    border-radius: 5px;
    position: fixed;
    bottom: 3%;
    margin-left: 5%;
    width: 820px;
   
    height: 50px;
}
input{
    width: 790px;
    border: none;
    font-size: 20px;

    text-indent: 20px;
    font-family: 'Roboto', sans-serif;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-family: 'Roboto',sans-serif;
    color: #433B3B;
   
}
.text-area button{
    background: none;
    border: none;
    margin-right: 10px;
}
.menu-bar{
    display: flex;
}
.img img{
    margin-left: 150px;
}