.lacuna1{
    justify-content: center;
}

.form-box{
    justify-content: center;
    margin-top: 30px;
}

.d1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

 .d2 input, select{
    width: 500px;
    background: url(../../../assets/category.svg) no-repeat 5px 10px;
    height: 60px;
    border: 3px solid #002b9a;
    border-radius: 7px;
    padding-left: 45px;
 }

.d1 input{
    height: 60px;
    border: 3px solid #002b9a;
    border-radius: 7px;
    padding-left: 45px;
    width: 500px;
    background: url(../../../assets/pencil.svg) no-repeat 5px 10px;
}

.d2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


#circles {
    text-align: center;
    margin-top: 15px;
}
.step {
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: white;
    border: #002b9a 2px solid;
    border-radius: 50%;
    display: inline-block;
}
.step.active {
    background-color: #002b9a;
}

.buttons{
    display: flex;
    justify-content: center;
    height: 50px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 25px;
    font-weight: normal;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}
 
 .botao span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .nextbtn span:after {
     content: url(../../../assets/right-arrow.svg);
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
     transform: scaleX(1);
 }
 
 .nextbtn:hover span {
     padding-right: 45px;
 }
 
 .nextbtn:hover span:after {
     opacity: 1;
     right: -20px;
 }
 
 .nextbtn span:after {
    content: url(../../../assets/left-arrow.svg);
    position: absolute;
    opacity: 0;
    top: 0;
    left: -45px;
    transition: 0.5s;
    transform: scaleX(1);
}

.backbtn:hover span {
    padding-left: 20px;
}

.backbtn:hover span:after {
    opacity: 1;
    left: -50px;
}



button{
    background-color: #002b9a;
    height: 50px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 5px 0 5px;
}
.next, .register{
    width: 292px;
}
.back{
    width: 190px;
}
.next1{
    width: 500px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: -20px;
}

 p{
     display: flex;
     justify-content: center;
     margin-top: 130px;
     font-size: 15px;
     font-weight: bolder;
 }

 
 

